/* Mobile */
@media (max-width: 767px) {

    body {
        font-size: 14px; /* base mobile */
    }

    #hero-logo {
        width: 20px;
    }

    .title {
        font-size: 1.1rem;
    }

    #cta-consulta h2 {
        font-size: 1.3rem;
    }

    #cta-consulta p {
        font-size: 0.95rem;
    }

    /* ============================= */
    /* Header / Navbar */
    /* ============================= */

    header {
        padding: 8px 4%;
    }

    .logo {
        width: 80px;
    }

    #nav-links {
        gap: 15px;
        transform: translateX(-15px);
        height: 85vh;
        width: 90%;
        left: -15.5px;
        top: 120%;
        border-radius: 8px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 14px;

        padding: 12px 16px;
        border-radius: 8px;

        cursor: pointer;
        transition: background-color 0.2s ease;
    }


    #nav-links li a {
        display: block;
        width: 100%;
        padding: 14px 0;

        font-size: 0.95rem;
        text-align: left;
    }

    /* ============================= */
    /* Seções */
    /* ============================= */

    section {
        padding: 16px 4%;
    }

    #vantagens-title,
    #diferenciais-title,
    #como-funciona-title {
        padding: 48px 6%;
    }

    /* ============================= */
    /* Cards */
    /* ============================= */

    .card {
        max-width: 100%;
        min-height: unset;
        height: auto;

        padding: 16px;
    }

    .card p {
        font-size: 1rem;
    }

    #vantagens-cards-conteiner,
    #diferenciais-cards-conteiner,
    #steps-conteiner {
        flex-direction: column;
    }

    /* ============================= */
    /* CTA */
    /* ============================= */

    #form-conteiner #cta-consulta {
        margin: 0;
        padding: 2rem ;

    }

    #cta-consulta {
        margin: 24px 0;
        padding: 24px 16px;
    }

    .cta-btn {
        width: 100%;
        height: 44px;
        font-size: 0.95rem;
    }

    

    /* ============================= */
    /* CTA FORM DIV CONTEINER */
    /* ============================= */


    .cta-modal {
        width: 90%;
    }

    input {
        width: 85%;
    }

    .cta-content {
        padding: 15px;
    }

    .cta-btn {
        width: 100%;
    }


    /* ============================= */
    /* Footer */
    /* ============================= */

    footer {
        width: 100%;
        padding: 48px 24px;
    }

    #footer-conteiner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    #site {
        font-size: 1.2rem;
        opacity: 0.9;
    }

    .footer-columns {
        width: 100%;
        display: flex;
        gap: 24px;
    }

    .footer-columns ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }


    .ul-conteiner {
        width: 100%;
        display: flex;
        gap: 24px;
    }

    .ul-conteiner ul {
        flex: 1;
        padding: 0;
        gap: 12px;
    }

    .li-title {
        font-size: 1rem;
        font-weight: 600;
    }

    .links-footer {
        font-size: 0.9rem;
        opacity: 0.85;
    }

    footer p {
        font-size: 0.75rem;
        opacity: 0.6;
        margin-top: 24px;
    }
}



/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

    footer {
        width: 100%;
        padding: 48px 24px;
    }

    #footer-conteiner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    #footer-conteiner img {
        width: 120px;
    }

    #site {
        font-size: 1.2rem;
        opacity: 0.9;
    }

    .footer-columns {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .footer-columns ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }


    .ul-conteiner {
        width: 100%;
        display: flex;
        gap: 24px;
    }

    .ul-conteiner ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }

    .li-title {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .links-footer {
        font-size: 0.95rem;
        opacity: 0.85;
    }

    footer p {
        font-size: 0.8rem;
        opacity: 0.6;
        margin-top: 24px;
    }

    

}

/* Laptop + PC medio */
@media (min-width: 1024px) and (max-width: 1439px) {
    #hero {
        min-height: 100vh;
    }

    .btn-mobile {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: static;
        gap: 4rem;
        width: auto;
        padding: 0;

        /*  RESET do mobile */
        opacity: 1;
        pointer-events: auto;
        transform: none;
        box-shadow: none;
        background: transparent;

        li {
            background-color: var(--primary-light);
            padding: 10px 26px;
            border-radius: 10px;
            

            &:hover {
                background-color: var(--white);
            }
        }
    }

    .btn-default {
        display: block;
    }

    div#vantagens-cards-conteiner,
    div#diferenciais-cards-conteiner,
    div#steps-conteiner {
        display: flex;          
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.5rem;
    }

    .card {
        flex: 1 1 280px;   /* tamaño mínimo */
        max-width: 360px;
    }

    .cta-btn {
        margin: 0 auto;
        width: 30vw;             
        padding: 0 2rem;     
    }

}

/* PC grande */
@media (min-width: 1440px) {
        #hero {
        min-height: 100vh;
    }

    .btn-mobile {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: static;
        gap: 4rem;
        width: auto;
        padding: 0;

        /*  RESET do mobile */
        opacity: 1;
        pointer-events: auto;
        transform: none;
        box-shadow: none;
        background: transparent;

        li {
            background-color: var(--primary-light);
            padding: 10px 26px;
            border-radius: 10px;
            

            &:hover {
                background-color: var(--white);
            }
        }
    }

    .btn-default {
        display: block;
    }

    div#vantagens-cards-conteiner,
    div#diferenciais-cards-conteiner{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;     
        justify-content: space-around;
        gap: 2rem;
    }

    div#steps-conteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;     
        justify-content: center;
    }
    .cta-btn {
        margin: 0 auto;
        width: 20vw;             
        padding: 0 2rem;     
    }
}