@media (min-width: 769px) {
    .btn-mobile {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        width: auto;
        padding: 0;
    }

    .btn-default {
        display: block;
    }
}