#plano-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  z-index: 1000;
}


#plano-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

#plano-modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s ease;
  z-index: 1001;
}

#plano-modal.show {
  opacity: 1;
  pointer-events: auto;
  backdrop-filter: blur(6px);
}

.plano-box {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 620px;
  /* CAMBIO: Eliminamos el padding global (era 32px) */
  padding: 0; 
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
  /* CAMBIO: Evita que el fondo del título se salga de las esquinas redondeadas */
  overflow: hidden; 

  transform: translateY(20px) scale(0.96);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#plano-title-container{
  width: 100%;
  height: auto; 
  background-color: var(--bg-soft-2); /* Tu color azul */
  padding: 40px 0; /* Espacio arriba y abajo del texto */
  margin-bottom: 24px;
}

.plano-box h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
  color: #141414; /* Ajusta según tu diseño */
}

h4 {
  margin: 10px;
  font-weight: 500;
}

#plano-beneficios, 
.plano-box p, 
#cta-conteiner-plano {
  padding-left: 32px;
  padding-right: 32px;
}

/* quando modal estiver visível */
#plano-modal.show .plano-box {
  transform: translateY(0) scale(1);
  opacity: 1;
  opacity: 10;
}


#plano-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #666;
}
#plano-modal:not(.hidden) {
  display: flex;
}

.hidden {
  display: none;
}

#plano-beneficios {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul#plano-beneficios {
  list-style: none;
}

li {
  text-align: start;
  line-height: 1.5;
}

li.vantagem i{
  color:#1eaf53;
}

li.diferencial i{
  color: #2565ca;
}

span {
  padding-left: 1.5em;
}

div#cta-conteiner-plano {
  margin: 10px;
  display: flex;
  justify-content: center
}

#cta-plano {
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  max-width: 550px;
  width: 100%;
}


