@import url(variaveis.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Header e a tag nav e seus estilos*/

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.4 ease;

}

.btn-mobile {
    font-size: 1.5em;
    color: white;
}

.btn-default{
    background-color: var(--cta);
    color: var(--primary-light);
    text-decoration: none;

    &:hover {
        background-color: var(--cta-hover);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 12px 4%;
    z-index: 10;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: auto;
}

#nav-links {
    background-color: var(--primary-light);
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    list-style: none;
    display: flex;              
    flex-direction: column;
    gap: 15px;

    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;

    /* animación */
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease;
    

    &.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

li {
    text-align: center;
}

li a {
    color: var(--link);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.4 ease;

    &:hover {
        color: var(--link-hover);
        border-bottom: 1px solid var(--link-hover);
    }
}

.btn-default {
    display: none;
}

/*configuaração global para a nav nao ficar encima*/
section {
    scroll-margin-top: 90px;
}

/*configuração das cards*/
.card {
    background-color: var(--primary-light);
    max-width: 60vw;
    width: auto;
    height: 45vh;

    text-align: center;
    padding: 20px;
    margin-top: 20px;

    border-radius: 8px;
    border: 1px solid var(--link);

    p {
        margin-top: 15px;
        color: var(--text-secondary);
        font-size: 1.2em;
    }
}

.title {
    margin-top: 80px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-main);
}


#vantagens-title {
    margin-top: 0px;
    padding: 80px 4%;
    background-color: var(--primary-light);
    text-align: center;
}

#vantagens-cards-conteiner {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

#diferenciais-conteiner {
    /*estilos de a secção inteira*/
}

#diferenciais-title {
    padding: 80px 6.5%;
    background-color: var(--gray-light);
    text-align: center;
}

#diferenciais-cards-conteiner {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}



