:root {
    /* Brand */
    --primary: #4E78C1;
    --secondary: #2A4F9A;
    --primary-dark: #1F3B73;
    --primary-light: #ffffff;

    /* fondo secciones */
    --bg-soft: #BFCEED;              
    --bg-soft-2: #e6f0ff;            
    --bg-soft-3: #c6e1fc9c;

    --green-soft: #eafaf4;
    --green-soft-2: #e3f7ee;
    --green-soft-3: #e6f3f0;

    --footer-bg: #0b2545;
    --footer-text: #e6f0ff;
    --footer-muted: #9fbad6;

    /*links*/
    --link: #2A4F9A;
    --link-hover: #0055ff;

    /* Neutrals */
    --white: #FFFFFF;
    --gray-light: #F5F7FA;
    --gray-border: #E5E7EB;

    /* Text */
    --text-main: #111111;
    --text-secondary: #444444;
    --text-muted: #6B7280;

    /* CTA */
    --cta: #16A34A;
    --cta-hover: #15803D;
}
